* {
    position: relative;
}

body{
    background-color: #f5f5dc;
}

#main-wrapper {
   

    padding-top: 10px;
}

.emularity-splash-screen {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#emularity-canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}